{% extends '@DataAdmin/layout.html.twig' %}

{% block title %} Config common | {{ table.name | normalizeName }}{% endblock %}

{% block page_content %}
    <form method="post" class="card">
        <div class="card-header">
            Настройки
            <div class="card-tools btn-group">
                <a class="btn btn-default btn-sm" href="{{path('data_admin.common.references.view.config', {connectionString: connectionString})}}">References</a>
                <button class="btn btn-info btn-sm" type="submit">Сохранить изменения</button>
            </div>
        </div>
        <div class="card-body p-0">
            <textarea class="form-control"
                      style="height: 700px"
                      name="data"
            >{{ json }}</textarea>
        </div>
    </form>


{% endblock %}