{% extends '@Symfony6AdminLte/layout.html.twig' %}

{% block page_content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Название</h3>
            <div class="card-tools">
            </div>
        </div>

        <div class="card-body">
            {# ##################################################### #}
        </div>
    </div>


{% endblock %}